.App {
  text-align: center;
}

.main-pic{
  position: relative;
  top: -80px; /* Adjust the value to move the picture closer to the navbar */
  transform: scale(0.6);
  border-radius: 50%;
}

.dev-name{
  font-size: 38px;
  position: relative;
  top: -240px;
}

.main-navbar{
  margin: 0;
  background-image: url('./img/nav-img2.png');
  background-size: cover;
  height: 4rem;
  width: 100vw;
  display: flex;
  justify-content: flex;
  background-color: white;
  background-color: #c9c8c8;
  background-blend-mode:luminosity;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.main-navbar li{
  list-style: none;
  display: inline-flex;
  text-align: center;
  padding: 1rem 3rem;
  text-decoration: none;
  font-size: 24px;
}
.main-navbar a{
  text-decoration: none;
}

.container{
background-color: #333333;
background-repeat: no-repeat;
background-size:cover;
object-position: center;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;
font-family: 'Roboto Mono', monospace;
text-align: center;
}

section {
  background-color: rgba(75, 64, 64, 0.2);
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 50px;
}

section h3 {
  text-align: center;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container h3{
  text-align: center;
}
.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 380px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.card > img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  max-height: 40vh;
  min-height: 40vh;

}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 10px;
}

.card a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.card a:hover {
  background-color: #0056b3;
}

.secondary-nav{
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: content-box;
}

.secondary-nav li{
  text-decoration: none;
}

.secondary-nav img{
  transform: scale(0.1);
  transform-origin: top left;
}